@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

/* Force scrollbar */
html {
  overflow-y: scroll;
}

/* Align radios and text inputs with their label */

input[type='radio'] {
  vertical-align: text-bottom;
}

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em {
  font-style: italic;
}

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup {
  top: -0.7em;
}
sub {
  bottom: -0.25em;
}

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: ' ';
}

.cf:after {
  clear: both;
}

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a {
  display: inline-block;
  text-decoration: none;
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  max-width: 1360px;
  width: 86%;
  margin: 0 auto;
}
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*=================================
  Header styling starts here
=================================*/
.first-letter-caps {
  text-transform: capitalize;
}

.single-letter-caps::first-letter {
  text-transform: uppercase;
}

.wrapper {
  width: 68%;
}

header {
  width: 100%;
  padding-bottom: 0px;
  padding-top: 60px;
  position: absolute;
  z-index: 2;
  top: 0%;
}

header .wrapper {
  display: flex;
  justify-content: space-between;
}

h1 a {
  color: aliceblue;
  font-size: 15px;
  font-weight: 500;
}

.nav-list a {
  color: aliceblue;
  font-size: 12px;
}

nav {
  width: 19%;
}

.nav-list {
  display: flex;
  justify-content: space-between;
}

.hamburger {
  display: none;
  position: relative;
  padding-top: 0px;
}

.hamburger {
  display: flex;
  display: none;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
}

.hamburger:hover .line2 {
  display: none;
  transition: 0.1s;
}

.hamburger:hover .line1 {
  margin-left: 10px;
  -webkit-transform: rotate(-45deg) translateY(4px);
  transform: rotate(-45deg) translateY(6px);
}

.hamburger:hover .line3 {
  margin-left: 10px;
  -webkit-transform: rotate(45deg) translateY(-4px);
  transform: rotate(45deg) translateY(-6px);
}

.line {
  content: '';
  width: 100%;
  border-bottom: 3.5px solid black;
  border-radius: 8px;
  display: inline-block;
  transform: translateY(-5px);
  width: 25px;
}
/*=================================
  Header styling ends here
=================================*/
/*=================================
  main styling starts here
=================================*/
/*=================================
  banner styling starts here
=================================*/
.banner img {
  border-top: 8px solid #5386c1;
  position: relative;
  z-index: 1;
  top: 0%;
  left: 0%;
}

.banner-content {
  position: absolute;
  z-index: 3;
  top: 30%;
  left: 50%;
  color: aliceblue;
  transform: translate(-50%, -50%);
}

.banner-content h2 {
  font-size: 44px;
  font-weight: 100;
  line-height: 80px;
}

.banner-content p {
  font-size: 13px;
  font-weight: 100;
  text-align: center;
}
/*=================================
  banner styling ends here
=================================*/
/*=================================
  card styling starts here
=================================*/
.card-list {
  display: flex;
}

.card {
  padding-bottom: 69px;
  padding-top: 73px;
}

.card-list li {
  padding: 0px 45px;
  border-left: 0.5px solid #808080a0;
}

.card-list li:first-child {
  padding-left: 0px;
  border-left: none;
}

.card-list li:last-child {
  padding-right: 0px;
}

.card-heading {
  color: #5386c1;
  font-size: 19px;
  line-height: 23px;
}

.card-para {
  padding: 16px 0px 24px;
  color: #858484;
  font-size: 12px;
  line-height: 18px;
}

.card-button {
  padding: 10px 18px;
  border: none;
  background-color: #5386c1;
  color: aliceblue;
  font-size: 12px;
  font-weight: 500;
}
/*=================================
  card styling ends here
=================================*/
/*=================================
  people styling starts here
=================================*/
.people {
  padding-bottom: 90px;
  padding-top: 78px;
  background-color: #5386c1;
  color: aliceblue;
}

.people-list {
  display: flex;
  justify-content: space-between;
}

.people-list li {
  width: 21%;
  padding: 36px 0px;
  border: 0.5px solid #f0f8ff5c;
}

.people-list figure {
  width: 60%;
  margin: auto;
  margin-bottom: 22px;
}

.people-list figure img {
  border-radius: 100px;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.common-heading {
  margin-bottom: 10px;
  font-size: 30px;
  text-align: center;
}

.common-para {
  margin-bottom: 47px;
  font-size: 12px;
  text-align: center;
}

.info-down {
  margin-top: 4px;
  font-size: 11px;
}
/*=================================
  people styling ends here
=================================*/
/*=================================
  more styling starts here
=================================*/
.more {
  padding: 76px 0px 0px;
}

.more .wrapper {
  padding-bottom: 76px;
  border-bottom: 0.5px solid #808080a0;
}

.more-list {
  display: flex;
  gap: 50px;
}

.more-list li {
  display: flex;
  flex-direction: column;
}

.more-list li figure {
  margin-bottom: 23px;
}

.more .common-heading {
  color: #5386c1;
}

.more .common-para {
  color: #858484;
}
/*=================================
  more styling ends here
=================================*/
/*=================================
  main styling ends here
=================================*/
/*=================================
  footer styling starts here
=================================*/
footer {
  padding: 34px 0px;
}

footer span {
  color: #858484;
  font-size: 10px;
}

footer .wrapper {
  display: flex;
  justify-content: space-between;
}

footer ul {
  display: flex;
  gap: 15px;
}

footer a {
  display: flex;
  text-indent: -9999px;
}

footer a::before {
  display: flex;
  color: #5386c1;
  font-family: 'FontAwesome';
  font-size: 13px;
  text-indent: 0px;
}

.facebook::before {
  content: '\f09a';
}

.linkdin::before {
  content: '\f0e1';
}

.twitter::before {
  content: '\f099';
}

.v::before {
  content: '\f27d';
}

.pintrest::before {
  content: '\f231';
}

/*=================================
  footer styling ends here
=================================*/

/*media query starts*/
/*media query for 375px starts here*/
@media only screen and (max-width: 375px) {
  .hamburger {
    display: flex;
    z-index: 3;
  }
  .line {
    border-color: grey;
  }
  .nav-list {
    display: flex;
    display: none;
    justify-content: center;
    flex-direction: column;
    font-size: 15px;
    gap: 20px;
  }

  .nav-list {
    width: 100%;
    height: 70vh;
    position: absolute;
    display: flex;
    display: none;
    z-index: 10;
    top: 100%;
    right: 0%;
    flex-direction: column;
    background-color: #205ba5;
    text-align: center;
  }
}

/*================================= 
 Hover styling starts here
 =================================*/
@media only screen and (min-width: 995px) {
  h1 a:hover {
    color: #5386c1;
    cursor: pointer;
    transition: all 1s;
  }

  .nav-list a:hover {
    color: #5386c1;
    cursor: pointer;
    transition: all 1s;
  }

  .card-button:hover {
    background-color: #808080;
    cursor: pointer;
    transition: all 1s;
  }
  footer a:hover::before {
    color: #808080;
    cursor: pointer;
    transition: all 1s;
  }
}
/*================================= 
 Hover styling ends here
 =================================*/
